<h1><%= @bathing_site.site_name.capitalize %></h1>

  <p>    Site: <%= @bathing_site.site_name %></p>
  <p>    Pollution: <%= @bathing_site.pollution_level %></p>
  <p>    Tide: <%= @bathing_site.tide %></p>
  <p>    Region: <%= @bathing_site.region %></p>
